body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff; /* Light blue background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff; /* White background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #007bff; /* Blue header color */
}

.input-container {
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.weather-info {
    display: none;
    margin-top: 20px;
    background-color: #f2f2f2; /* Light gray background */
    padding: 10px;
    border-radius: 5px;
}

.weather-info h2 {
    margin-bottom: 10px;
    color: #007bff; /* Blue header color */
}

.weather-info p {
    margin: 5px 0;
    color: #555; /* Dark gray text color */
}
